{% extends 'baselogin.html' %}
{% block title %} Patient details {% endblock title %}
{% block  form %}
<h2> Patient Details</h2>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <br>
    <br>
<h1>Patient Details</h1>
<div class="card p-3">
<table class="table table-dark">
    <thead>
    <tr>
    <th scope="row"> DETAILS</th>
    </tr>
    <tr>
        <th scope="row">{{data.srfid}}</th>
    </tr>
    <tr>
        <th scope="row">{{data.bedtype}}</th>
    </tr>
    <tr>
        <th scope="row">{{data.hcode}}</th>
    </tr>
    <tr>
        <th scope="row">{{data.spo2}}</th>
    </tr>
    <tr>
        <th scope="row">{{data.pname}}</th>
    </tr>
    <tr>
        <th scope="row">{{data.pphone}}</th>
    </tr>
    <tr>
        <th scope="row">{{data.paddress}}</th>
    </tr>
</div>
</div>
<div class="col-md-4"></div>
{% endblock form   %}